$main-color: #1ed760;
$light-color: #fff;
$light-nearly-color-hover: #dbdbdb;
$light-nearly-color: #b3b3b3;
$medium-color: #6a6a6a;
$dark-color: #000;

$bg-dark-color: #000000;
$bg-dark-nearly-color: #121212;
